*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
@media (min-width:641px) {
	.flex-container{
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    align-items: center;
}


ul>li{
	border: 1px solid #f00;
	width: 150px;
}

li:nth-child(1){
	
	height: 120px;
}
li:nth-child(2){
	height: 100px;
}
li:nth-child(3){
	height: 40px;
}
li:nth-child(4){
	height: 200px;
	border: 1px solid #0f0;
}
}


@media (max-width:640px) {

	.flex-container{
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}


ul>li{
	border: 1px solid #f00;
	width: 150px;
	margin-bottom: 20px;
}


li:nth-child(1){
	
	height: 120px;
}
li:nth-child(2){
	height: 100px;
}
li:nth-child(3){
	height: 40px;
}
li:nth-child(4){
	order: -1;
	height: 200px;
	border: 1px solid #0f0;
}
}